@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
#root {  
}
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  height: 4em;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.transaction-grid {
  display: grid;
  gap: 5px;
  position: relative;
  grid-template-areas:
  "add add"
  "list1 list2"
  "total total";
  padding-inline: .5em;
  width: 100vw;
  height: 80vh;
}
.full-list1 { grid-area: list1; }
.full-list2 { grid-area: list2; }
.total { grid-area: total; }

.add-trans-btn {
  grid-area: add;
  border-radius: 2em;
  /* border-top-left-radius: 1em;
  border-top-right-radius: 1em; */
  background-color: lightgreen;
  border: none;
  height: 100%;
}
.add-trans-btn:hover {
  background-color: green;
  color: white;
  box-shadow: inset 1px 1px 1px 1px black;
}
.transaction-preview {
  display: grid;
  grid-template-columns: 1.5fr .5fr .5fr .5fr;
  background: white;
  justify-items: center;
  align-items: center;
}
.transaction-preview:hover {
  background: lightblue;
}
.transaction-preview > * {
  padding-block: .25em;
  text-align: center;

}
.transaction-preview > input {
  color: black;
}
.transaction-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}


.table-header {
  font-weight: 600;
  background: grey;
  padding-block: .5em;
  padding-inline: .5em;
}
.table-header:hover {
  background: grey;
  box-shadow: none;
}

.popup-window {
  z-index: 10;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px 2px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.popup-header {
  background: grey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-block: 10px;
  border-bottom: black 1px solid;
  padding-inline: 35%;
}

.popup-body {
  background: lightgrey;
  padding-block: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline-start: 10%;
  padding-bottom: 5%;
}
.popup-body > input, form {
  background: lightgrey;
  
}
.transaction-submit-btn {
  background: limegreen;
  color: white;
  height: 40px;
  border-radius: 10%;
}
.trans-list-button {
  width: 2em;
  height: 2em;
}

.item-name {
  width: 90%;
  
}
.item-amount {
  width: 50%;
}

.category {
  grid-area: category;
  width: 100%;
  margin-bottom: .5em;

}
.total {
  border: black solid 1px;
}
.total:hover {
  background: white;
  box-shadow: none;
}
.alternate {
  background: lightgrey;
}
.item-list {
  border: 1px solid black;
  overflow-y: scroll;
  height: 100%

}
.table-header-btn {
  width: 99%;
  border-radius: 0;
}
.full-list1, .full-list2 {
  background: white;
  height:80%;
  width: 100%;
}

