@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Home Grid */
.homegrid{
  display: grid;
  grid-template-columns: auto;
}
.transaction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 2%;
  gap: 5px;
  position: relative;
}
.transaction-grid > * {
}
#transaction-grid {
  grid-template-areas:
  "add add"
  "left-list right-list";
}
#add-trans-btn { grid-area: add; }
#income { grid-area: left-list; } #expense { grid-area: right-list; }
.left-column-total { grid-area: left-total } .right-column-total { grid-area: right-total; }

.add-trans-btn {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: lightgreen;
  border: none;
  grid-column-start: span 2;
  height: 100%;
}
.add-trans-btn:hover {
  background-color: green;
  color: white;
  box-shadow: inset 1px 1px 1px 1px black;
}

.transaction-preview {
  display: grid;
  grid-template-columns: 1.5fr .5fr .5fr .5fr;
  background: white;
  justify-items: center;
  align-items: center;
}
.transaction-preview:hover {
  background: lightblue;
}
.transaction-preview > * {
  padding-block: .25em;
  text-align: center;

}
.transaction-preview > input {
  color: black;
}
.transaction-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.transaction-list {
  padding: .25em;
}
.left-column-total {
  height: 2em;
}
.right-column-total {
  height: 2em;
}
.table-header {
  font-weight: 600;
  background: lightgrey;
  padding-block: .5em;
}
.table-header:hover {
  background: lightgrey;
  box-shadow: none;
}

.popup-window {
  z-index: 10;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px 2px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.popup-header {
  background: grey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-block: 10px;
  border-bottom: black 1px solid;
  padding-inline: 35%;
}

.popup-body {
  background: lightgrey;
  padding-block: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline-start: 10%;
  padding-bottom: 5%;
}
.popup-body > input, form {
  background: lightgrey;
  
}
.transaction-submit-btn {
  background: limegreen;
  color: white;
  height: 40px;
  border-radius: 10%;
}
.trans-list-button {
  width: 2em;
  height: 2em;
}

.item-name {
  width: 90%;
  
}
.item-amount {
  width: 50%;
}

.category {
  width: 100%;
  margin: auto;
  margin-bottom: .5em;

}
.total {
  margin-top: .5em;
  border: black solid 1px;
}
.total:hover {
  background: none;
  box-shadow: none;
}
