@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  height: 10vh;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.transaction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  position: relative;  
  padding-inline: .5em;
  height: 90vh;
}
.add-trans-btn {
  border-radius: 2em;
  background-color: lightgreen;
  border: none;
  height: 5vh;
  grid-column: span 2;
}
.list {
  height: 80vh;
}
.add-trans-btn:hover {
  background-color: green;
  color: white;
  box-shadow: inset 1px 1px 1px 1px black;
}
.transaction-preview {
  display: grid;
  grid-template-columns: 1.5fr .5fr .5fr .5fr;
  background: white;
  justify-items: center;
  align-items: center;
}
.transaction-preview:hover {
  background: lightblue;
}
.transaction-preview > * {
  padding-block: .25em;
  text-align: center;

}
.transaction-preview > input {
  color: black;
}
.transaction-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.table-header {
  font-weight: 600;
  background: grey;
  padding-block: .5em;
  padding-inline: .5em;
}
.table-header:hover {
  background: grey;
  box-shadow: none;
}

.popup-window {
  z-index: 10;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px 2px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.popup-header {
  background: grey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-block: 10px;
  border-bottom: black 1px solid;
  padding-inline: 35%;
}

.popup-body {
  background: lightgrey;
  padding-block: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline-start: 10%;
  padding-bottom: 5%;
}
.popup-body > input, form {
  background: lightgrey;
  
}
.transaction-submit-btn {
  background: limegreen;
  color: white;
  height: 40px;
  border-radius: 10%;
}
.trans-list-button {
  width: 2em;
  height: 2em;
}

.item-name {
  width: 90%;
  
}
.item-amount {
  width: 50%;
}

.category {
  width: 100%;
  margin-bottom: .5em;
  height: 5vh;

}
.total {
  border: black solid 1px;
}
.total:hover {
  background: white;
  box-shadow: none;
}
.alternate {
  background: lightgrey;
}
.item-list {
  border: 1px solid black;
  height: 60vh;
  overflow-y: scroll;
}
.table-header-btn {
  width: 100%;
  border-radius: 0;
}
.item-info {
  display: grid;
  padding-inline: 0;
  padding-block: 1em;
  margin-top: 1em;
  margin-inline: 35%;
  justify-content: center;
  grid-template-areas:
    "image name"
    "amount amount"
    "category category"
    "date date"
    "created created"
    "updated updated";
  background: darkgrey;
  box-shadow: 2px 2px 4px 2px;
  border-radius: .5em;
}
.name {
  grid-area: name;
  font-size: 1.5em;
  justify-self: center;
  align-self: center;
  padding-left: 1em;
} 
.image {
  grid-area: image;
  justify-self: left;
  margin-bottom: .5em;
} 
.amount {
  grid-area: amount
}
.item-category {
  grid-area: category;
}
.date {
  grid-area: date
} 
.created {
  grid-area: created
} 
.updated {
  grid-area: updated
}


